/*css pokeball*/

.initial-home {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #d68d04;
    background-image: url("image/home-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.position-section-home {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 12%;
}

.position-home {
    margin-left: 4%;
}

.title-home {
    font-family: 'black hans sans', sans-serif;
    font-size: 14rem;
    font-weight: 800;
    max-width: 980px;

}

.seta {
    margin-left: 51%;
    width: 11vw;
    display: block;
}

.pokebola {
  
    width: 42vw;
    cursor: pointer;
}

@media (max-width: 2260px) {
    .title-home{
        font-size: 12rem;
    }
}

@media (max-width: 2000px) {
    .title-home {
        font-size: 10rem;
    }
}

@media (max-width: 1700px) {
    .title-home {
        font-size: 8rem;
    }
}


@media (max-width: 1500px){
   .position-section-home{
        margin-top: 9%;
   }
   
    .title-home{
        font-size: 6rem;
    }
}

@media (max-width: 1260px) {
    .position-section-home {
        margin-top: 25%;
    }
    
    .title-home {
        font-size: 6rem;
    }
}

@media (max-width: 1070px) {
    .position-section-home {
        margin-top: 32%;
    }
    .position-home {
        margin-top: -7%;
    }
}

@media (max-width: 978px){
    .position-section-home{
       margin-top: 10%;
    }
}

@media screen and (min-width: 320px){
    .position-section-home{
        max-width: 320px;
        flex-direction: column;
    }
}