@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.position-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 4em;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    background-color: #ffb004;
    width: 42vw;
    max-width: 980px;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.options-menu {
    font-size: 1rem;
    font-weight: 800;
    color: #000000;
    cursor: pointer;
    padding: 5px;
}

@media (max-width: 2800px) {
  .options-menu {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .position-header{
    display: none;
  }

  .position-header.show{
    display: block;
  } 
   
  .one,
  .two,
  .three{
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
  }

  .menu-toggle{
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }
}



