@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.position-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 4em;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    background-color: #ffb004;
    width: 40vw;
    height: 11vh;
    border-radius: 10px 0 0 10px;
}

.options-menu {
    font-size: 32px;
    font-weight: 800;
    color: #000000;
    cursor: pointer;
    padding: 5px;
}
